*{
  margin: 0;
  padding: 0;
}

body{
  font-family: Arial, Helvetica, sans-serif;
  background: #eaeaea;
}

main{
  background: white;
  -webkit-box-shadow: 4px 2px 5px 0px rgba(207,207,207,1);
  -moz-box-shadow: 4px 2px 5px 0px rgba(207,207,207,1);
  box-shadow: 4px 2px 5px 0px rgba(207,207,207,1);
  max-width: 500px;
  margin: auto;
  margin-top: 100px;
}

ul {
  list-style-type: none;
}

li{
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

li:nth-child(odd){
  background: #cacaca;
}

button{
  background: cornflowerblue;
  border: 0;
  border-radius: 5px;
  color: white;
  padding: 5px;
}

button:hover{
  background: darkcyan;
}

header{
  background: white;
  padding: 15px;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: left;
}