body{
  font-family: Arial, Helvetica, sans-serif;
}

.recipes-list {
  display: flex;
  flex-wrap: wrap;
  max-width: 1000px;
  margin: auto;
  padding: 0;
  list-style-type: none;
}

.recipes-list li span{
  display: block
}

.recipes-list li img{
  width: 100%;
  max-width: 200px;
  min-height: 200px;
}

.recipes-list__item-info{
  padding: 20px;
}

footer {
  height: 100px;
  position: fixed;
  background-color: white;
  bottom: 0;
  width: 100%;
}

footer ul{
  display: flex;
  list-style-type: none;
}

footer img{
  max-width: 50px;
}