<section class="menu">

  <nav>
    <ul>
      <li>
        <a href="#" title="Ir a esta página">
          Sección 1
        </a>
      </li>
      <li>
        <a href="#" title="Ir a esta página">
          Sección 2
        </a>
      </li>
      <li>
        <a href="#" title="Ir a esta página">
          Sección 3
        </a>
      </li>
      <li>
        <a href="#" title="Ir a esta página">
          Sección 4
        </a>
      </li>
      <li>
        <a href="#" title="Ir a esta página">
          Sección 5
        </a>
      </li>
    </ul>
  </nav>

  <nav>
    <ul>
      <li>
        <a href="#" title="Ir a esta página">
          Categoría 1
        </a>
      </li>
      <li>
        <a href="#" title="Ir a esta página">
          Categoría 2
        </a>
      </li>
      <li>
        <a href="#" title="Ir a esta página">
          Categoría 3
        </a>
      </li>
      <li>
        <a href="#" title="Ir a esta página">
          Categoría 4
        </a>
      </li>
      <li>
        <a href="#" title="Ir a esta página">
          Categoría 5
        </a>
      </li>
    </ul>
  </nav>
</section>
