<header class="header">
  <div class="header__container">
    <a class="logo-container" href="#" title="Spotify">
      <img src="./assets/images/logo.png" alt="Spotify logo" title="Spotify">
    </a>
    <nav class="main-menu">
      <a class="menu-icon" href="">
      </a>
      <ul>
        <li>
          <a href="#" title="Premium">Premium</a>
        </li>
        <li>
          <a href="#" title="Ayuda">Ayuda</a>
        </li>
        <li>
          <a href="#" title="Descargar">Descargar</a>
        </li>
        <li>
          <a href="#" title="Resgistrarse">Registrarse</a>
        </li>
        <li>
          <a href="#" title="Iniciar sesión">Iniciar sesión</a>
        </li>
      </ul>
    </nav>
  </div>
</header>