<!DOCTYPE html>
<html lang="es">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./assets/css/main.css">
    <title>Intro a Sass</title>
  </head>

  <body class="page">

    <header>
      <h1 class="title">Trello</h1>
    </header>

    <main>
      <ul class="board">

        <li class="board__list">
          <h2 class="title">Todo</h2>
          <ul class="tasks">
            <li class="task">
              Hacer pruebas
              <a href="#" class="link">Asignármelo</a>
            </li>
            <li class="task due-date">
              Preparar la demo
            </li>
            <li class="task">
              Subir a producción
            </li>
          </ul>
        </li>

        <li class="list">
          <h2 class="title">Doing</h2>
          <ul class="tasks">
            <li class="task">
              Programar con JS
            </li>
          </ul>
        </li>

        <li class="list">
          <h2 class="title">Done</h2>
          <ul class="tasks">
            <li class="task">
              Maquetar
            </li>
            <li class="task">
              Dibujar
            </li>
          </ul>
        </li>

      </ul>
    </main>

  </body>

</html>
