<!DOCTYPE html>
<html lang="es">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Adalab Web Starter Kit</title>
    <link rel="icon" href="./favicon.png" />
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./assets/css/main.css" />
  </head>

  <body>
    <div class="container-page">

      <div class="primary-col">
        <partial src="_header.html"></partial>
        <main class="posts">
          <partial src="_article.html" title="Título del post 1" content="Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestias adipisci architecto aliquam possimus debitis."></partial>
          <partial src="_article.html" title="Título del post 2" content="Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestias adipisci architecto aliquam possimus debitis."></partial>
          <partial src="_article.html" title="Título del post 3" content="Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestias adipisci architecto aliquam possimus debitis."></partial>
        </main>
      </div>

      <aside class="secondary-col">
        <partial src="_author.html"></partial>
        <partial src="_menu.html"></partial>
      </aside>

    </div>

    <partial src="_footer.html"></partial>

  </body>

</html>
