body {
  font-family: $mainText;
  background-color: grey;

  @include forTablet {
    padding-left: 10%;
  }
}

.container{
  padding: 20px;
  background-color:white;
}

.page {
  display: grid;
  grid-template-columns: 1fr;
  background-color: white;
  min-height: 100vh;

  @include forTablet {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}