body {
  margin: 0;
}

.container {
  height: 100vh;
  display: grid;
  /* grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; */
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 20vh 1fr 20vh;
}

.header {
  /* grid-column: span 12; */
  grid-column: 1 / 13;
  background: #fabada;
}

.nav {
  /* grid-column: span 3; */
  grid-column: 1 / 4;
  background: indigo;
}

.main {
  /* grid-column: span 9; */
  grid-column: 4 / 13;
  background: lightcoral;
}

.footer {
  grid-column: 1 / 13;
  background: lightskyblue;
}
