<!DOCTYPE html>
<html lang="es">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Adalab Web Starter Kit</title>
    <link rel="icon" href="./favicon.png" />
    <link rel="stylesheet" href="./assets/css/main.css" />
  </head>

  <body>
    <div class="page">

      <partial src="_hero.html"></partial>

      <ol>
        <partial src="_adalaber.html" title="Maricarmen" user="mc" desc="Hasta luego Maricarmen" img="https://estaticos.elperiodico.com/resources/jpg/2/3/lmmarco22252603-televison-maricarmen-sus-ecos-foto-rogelia171017182150-1508257528532.jpg" class="hero-home"></partial>
        <partial src="_adalaber.html" title="Antonia" user="ant" desc="Front end"></partial>
        <partial src="_adalaber.html" title="Susana" class="hero-contact"></partial>
        <partial src="_adalaber.html"></partial>
        <partial src="_adalaber.html"></partial>
      </ol>
    </div>
  </body>

</html>
